.trip-list,
.trip-toolbar,
.trip-description {
    margin-bottom: 20px;
}

.trip-description {
}

.trip-toolbar {
}

.trip-uploader {
    display: none;
}

.trip-list {

    article {
        border-bottom: 1px solid #E0E0E0;

        &:first-child {
            border-top: 1px solid #E0E0E0;
        }

        &:nth-child(odd) {
            background-color: #F0F8FF;
        }

        div {
            line-height: 50px;
        }
    }
}

.trip-template {
    display: none;
    position: absolute;
    left: -9999px;
}

.empty-trips {
    color: #949494;
    font-size: 18px;
    padding: 25px 0;
}